* {
    box-sizing: border-box;
}
.topnav{
    grid-area: topnav;
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.article{
    grid-area: article;
}
.a1{
    grid-area:a1;
}
.a2{
    grid-area: a2;
}
.body {
    max-width: 60em;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-areas: 
    "topnav"
    "header"
    "main"
    "footer";    
}
.main{
    display: grid;
    grid-template-areas: 
    " a1 a2 article";
    grid-template-columns:  3fr 1fr 1fr;
    grid-gap: 1em;
}